aiogram>=3.4.0
python-dotenv>=1.0.0
supabase==2.31.0
imageio-ffmpeg==0.5.14
fastapi>=0.110.0
uvicorn>=0.28.0
requests>=2.31.0
apscheduler>=3.10.4
pymongo>=4.6.1
pytest>=8.0.0
pytest-asyncio>=0.23.0

# Susy Music Dependencies
pyrogram==2.0.106
py-tgcalls==2.2.11
yt-dlp
tgcrypto
ffmpeg-python
